<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name Generator</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <% if (locals.generatedName) { %>
      <h1><%= generatedName %></h1>

      <% } else { %>
      <h1>Click below for a stupid random name! :D</h1>
      <% } %>

      <form action="/submit" method="post">
        <% if (locals.generatedName) { %>
        <button type="submit">Generate New Name</button>
        <% } else { %>

        <button type="submit">Generate Name</button>
        <% } %>
      </form>
    </div>
  </body>
</html>
