body {
    background-color: #F5F5F5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #212121;
}

button {
    background-color: #43A047;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

button:hover {
    background-color: #388E3C;
}

button:active {
    background-color: #1E88E5;
    transition: all ease 0.1s
}